<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0" msg="Icon Sheet created with Aster's web Icon Creator! ;3 check it out at https://iconcreator.pages.dev">
<dict>
	<key>frames</key>
	<dict>
		<key>dart_43_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{111,86}</string>
			<key>spriteSourceSize</key>
			<string>{111,86}</string>
			<key>textureRect</key>
			<string>{{0,0},{111,86}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dart_43_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{111,86}</string>
			<key>spriteSourceSize</key>
			<string>{111,86}</string>
			<key>textureRect</key>
			<string>{{113,0},{111,86}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dart_43_extra_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{111,86}</string>
			<key>spriteSourceSize</key>
			<string>{111,86}</string>
			<key>textureRect</key>
			<string>{{226,0},{111,86}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dart_43_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{119,94}</string>
			<key>spriteSourceSize</key>
			<string>{119,94}</string>
			<key>textureRect</key>
			<string>{{339,0},{119,94}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA8888</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>icons/dart_43-uhd.png</string>
		<key>textureFileName</key>
		<string>icons/dart_43-uhd.png</string>
		<key>size</key>
		<string>{458,94}</string>
	</dict>
</dict>
</plist>