<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0" msg="Spritesheet created with https://gdcolon.com/gdsplitter">
	<dict>
		<key>frames</key>
		<dict>
			<key>player_152_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{9,0}</string>
				<key>spriteSize</key>
				<string>{139,122}</string>
				<key>spriteSourceSize</key>
				<string>{161,132}</string>
				<key>textureRect</key>
				<string>{{0,131},{139,122}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>player_152_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{39.5,26.5}</string>
				<key>spriteSize</key>
				<string>{68,39}</string>
				<key>spriteSourceSize</key>
				<string>{161,132}</string>
				<key>textureRect</key>
				<string>{{148,0},{68,39}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>player_152_extra_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{51,31.5}</string>
				<key>spriteSize</key>
				<string>{5,47}</string>
				<key>spriteSourceSize</key>
				<string>{107,110}</string>
				<key>textureRect</key>
				<string>{{140,131},{5,47}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>player_152_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{9,0}</string>
				<key>spriteSize</key>
				<string>{147,130}</string>
				<key>spriteSourceSize</key>
				<string>{179,130}</string>
				<key>textureRect</key>
				<string>{{0,0},{147,130}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>pixelFormat</key>
			<string>RGBA8888</string>
			<key>premultiplyAlpha</key>
			<false/>
			<key>realTextureFileName</key>
			<string>icons/player_152-uhd.png</string>
			<key>size</key>
			<string>{187,253}</string>
			<key>textureFileName</key>
			<string>icons/player_152-uhd.png</string>
		</dict>
	</dict>
</plist>