<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>robot_68_01_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-13,16}</string>
			<key>spriteSize</key>
			<string>{136,130}</string>
			<key>spriteSourceSize</key>
			<string>{136,130}</string>
			<key>textureRect</key>
			<string>{{0,159},{136,130}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_68_01_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-13,16}</string>
			<key>spriteSize</key>
			<string>{136,130}</string>
			<key>spriteSourceSize</key>
			<string>{136,130}</string>
			<key>textureRect</key>
			<string>{{137,159},{136,130}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_68_01_extra_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{13,24}</string>
			<key>spriteSize</key>
			<string>{76,60}</string>
			<key>spriteSourceSize</key>
			<string>{76,60}</string>
			<key>textureRect</key>
			<string>{{165,0},{76,60}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_68_01_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-13,16}</string>
			<key>spriteSize</key>
			<string>{164,158}</string>
			<key>spriteSourceSize</key>
			<string>{164,158}</string>
			<key>textureRect</key>
			<string>{{0,0},{164,158}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_68_02_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{38,54}</string>
			<key>spriteSourceSize</key>
			<string>{38,54}</string>
			<key>textureRect</key>
			<string>{{0,373},{38,54}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_68_02_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{38,54}</string>
			<key>spriteSourceSize</key>
			<string>{38,54}</string>
			<key>textureRect</key>
			<string>{{39,373},{38,54}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_68_02_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{66,82}</string>
			<key>spriteSourceSize</key>
			<string>{66,82}</string>
			<key>textureRect</key>
			<string>{{0,290},{66,82}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_68_03_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{18,50}</string>
			<key>spriteSourceSize</key>
			<string>{18,50}</string>
			<key>textureRect</key>
			<string>{{0,507},{18,50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_68_03_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{18,50}</string>
			<key>spriteSourceSize</key>
			<string>{18,50}</string>
			<key>textureRect</key>
			<string>{{19,507},{18,50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_68_03_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{46,78}</string>
			<key>spriteSourceSize</key>
			<string>{46,78}</string>
			<key>textureRect</key>
			<string>{{0,428},{46,78}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_68_04_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-2}</string>
			<key>spriteSize</key>
			<string>{54,30}</string>
			<key>spriteSourceSize</key>
			<string>{54,30}</string>
			<key>textureRect</key>
			<string>{{0,617},{54,30}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_68_04_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-2}</string>
			<key>spriteSize</key>
			<string>{54,30}</string>
			<key>spriteSourceSize</key>
			<string>{54,30}</string>
			<key>textureRect</key>
			<string>{{55,617},{54,30}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_68_04_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-2}</string>
			<key>spriteSize</key>
			<string>{82,58}</string>
			<key>spriteSourceSize</key>
			<string>{82,58}</string>
			<key>textureRect</key>
			<string>{{0,558},{82,58}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA8888</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>icons/robot_68-uhd.png</string>
		<key>size</key>
		<string>{273,647}</string>
		<key>textureFileName</key>
		<string>icons/robot_68-uhd.png</string>
	</dict>
</dict>
</plist>
