<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>robot_10_01_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{3,6}</string>
			<key>spriteSize</key>
			<string>{154,94}</string>
			<key>spriteSourceSize</key>
			<string>{154,94}</string>
			<key>textureRect</key>
			<string>{{0,123},{154,94}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_10_01_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{3,6}</string>
			<key>spriteSize</key>
			<string>{154,94}</string>
			<key>spriteSourceSize</key>
			<string>{154,94}</string>
			<key>textureRect</key>
			<string>{{155,123},{154,94}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_10_01_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{3,6}</string>
			<key>spriteSize</key>
			<string>{182,122}</string>
			<key>spriteSourceSize</key>
			<string>{182,122}</string>
			<key>textureRect</key>
			<string>{{0,0},{182,122}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_10_02_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-4,0}</string>
			<key>spriteSize</key>
			<string>{50,54}</string>
			<key>spriteSourceSize</key>
			<string>{50,54}</string>
			<key>textureRect</key>
			<string>{{0,301},{50,54}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_10_02_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-4,0}</string>
			<key>spriteSize</key>
			<string>{50,54}</string>
			<key>spriteSourceSize</key>
			<string>{50,54}</string>
			<key>textureRect</key>
			<string>{{51,301},{50,54}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_10_02_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-4,0}</string>
			<key>spriteSize</key>
			<string>{78,82}</string>
			<key>spriteSourceSize</key>
			<string>{78,82}</string>
			<key>textureRect</key>
			<string>{{0,218},{78,82}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_10_03_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{18,50}</string>
			<key>spriteSourceSize</key>
			<string>{18,50}</string>
			<key>textureRect</key>
			<string>{{0,435},{18,50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_10_03_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{18,50}</string>
			<key>spriteSourceSize</key>
			<string>{18,50}</string>
			<key>textureRect</key>
			<string>{{19,435},{18,50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_10_03_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{46,78}</string>
			<key>spriteSourceSize</key>
			<string>{46,78}</string>
			<key>textureRect</key>
			<string>{{0,356},{46,78}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_10_04_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{3,0}</string>
			<key>spriteSize</key>
			<string>{62,34}</string>
			<key>spriteSourceSize</key>
			<string>{62,34}</string>
			<key>textureRect</key>
			<string>{{0,549},{62,34}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_10_04_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{3,0}</string>
			<key>spriteSize</key>
			<string>{62,34}</string>
			<key>spriteSourceSize</key>
			<string>{62,34}</string>
			<key>textureRect</key>
			<string>{{63,549},{62,34}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_10_04_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{3,0}</string>
			<key>spriteSize</key>
			<string>{90,62}</string>
			<key>spriteSourceSize</key>
			<string>{90,62}</string>
			<key>textureRect</key>
			<string>{{0,486},{90,62}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA8888</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>icons/robot_10-uhd.png</string>
		<key>size</key>
		<string>{309,583}</string>
		<key>textureFileName</key>
		<string>icons/robot_10-uhd.png</string>
	</dict>
</dict>
</plist>
