<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>robot_64_01_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-6}</string>
			<key>spriteSize</key>
			<string>{121,106}</string>
			<key>spriteSourceSize</key>
			<string>{121,106}</string>
			<key>textureRect</key>
			<string>{{0,136},{121,106}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_64_01_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-6}</string>
			<key>spriteSize</key>
			<string>{121,106}</string>
			<key>spriteSourceSize</key>
			<string>{121,106}</string>
			<key>textureRect</key>
			<string>{{123,136},{121,106}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_64_01_extra_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{11,27}</string>
			<key>spriteSize</key>
			<string>{42,19}</string>
			<key>spriteSourceSize</key>
			<string>{42,19}</string>
			<key>textureRect</key>
			<string>{{151,0},{42,19}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_64_01_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-6}</string>
			<key>spriteSize</key>
			<string>{149,134}</string>
			<key>spriteSourceSize</key>
			<string>{149,134}</string>
			<key>textureRect</key>
			<string>{{0,0},{149,134}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_64_02_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-1}</string>
			<key>spriteSize</key>
			<string>{36,54}</string>
			<key>spriteSourceSize</key>
			<string>{36,54}</string>
			<key>textureRect</key>
			<string>{{0,328},{36,54}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_64_02_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-1}</string>
			<key>spriteSize</key>
			<string>{36,54}</string>
			<key>spriteSourceSize</key>
			<string>{36,54}</string>
			<key>textureRect</key>
			<string>{{38,328},{36,54}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_64_02_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-1}</string>
			<key>spriteSize</key>
			<string>{64,82}</string>
			<key>spriteSourceSize</key>
			<string>{64,82}</string>
			<key>textureRect</key>
			<string>{{0,244},{64,82}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_64_03_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{18,50}</string>
			<key>spriteSourceSize</key>
			<string>{18,50}</string>
			<key>textureRect</key>
			<string>{{0,464},{18,50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_64_03_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{18,50}</string>
			<key>spriteSourceSize</key>
			<string>{18,50}</string>
			<key>textureRect</key>
			<string>{{20,464},{18,50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_64_03_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{46,78}</string>
			<key>spriteSourceSize</key>
			<string>{46,78}</string>
			<key>textureRect</key>
			<string>{{0,384},{46,78}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_64_04_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{54,34}</string>
			<key>spriteSourceSize</key>
			<string>{54,34}</string>
			<key>textureRect</key>
			<string>{{0,580},{54,34}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_64_04_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{54,34}</string>
			<key>spriteSourceSize</key>
			<string>{54,34}</string>
			<key>textureRect</key>
			<string>{{56,580},{54,34}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_64_04_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{82,62}</string>
			<key>spriteSourceSize</key>
			<string>{82,62}</string>
			<key>textureRect</key>
			<string>{{0,516},{82,62}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA8888</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>icons/robot_64-uhd.png</string>
		<key>size</key>
		<string>{244,614}</string>
		<key>textureFileName</key>
		<string>icons/robot_64-uhd.png</string>
	</dict>
</dict>
</plist>
