<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>robot_60_01_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,2.5}</string>
			<key>spriteSize</key>
			<string>{110,87}</string>
			<key>spriteSourceSize</key>
			<string>{110,87}</string>
			<key>textureRect</key>
			<string>{{0,113},{110,87}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_60_01_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,2}</string>
			<key>spriteSize</key>
			<string>{106,84}</string>
			<key>spriteSourceSize</key>
			<string>{106,84}</string>
			<key>textureRect</key>
			<string>{{111,113},{106,84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_60_01_extra_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-18,14}</string>
			<key>spriteSize</key>
			<string>{14,14}</string>
			<key>spriteSourceSize</key>
			<string>{14,14}</string>
			<key>textureRect</key>
			<string>{{135,0},{14,14}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_60_01_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,2}</string>
			<key>spriteSize</key>
			<string>{134,112}</string>
			<key>spriteSourceSize</key>
			<string>{134,112}</string>
			<key>textureRect</key>
			<string>{{0,0},{134,112}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_60_02_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{34,54}</string>
			<key>spriteSourceSize</key>
			<string>{34,54}</string>
			<key>textureRect</key>
			<string>{{0,284},{34,54}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_60_02_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{34,54}</string>
			<key>spriteSourceSize</key>
			<string>{34,54}</string>
			<key>textureRect</key>
			<string>{{35,284},{34,54}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_60_02_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{62,82}</string>
			<key>spriteSourceSize</key>
			<string>{62,82}</string>
			<key>textureRect</key>
			<string>{{0,201},{62,82}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_60_03_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{18,50}</string>
			<key>spriteSourceSize</key>
			<string>{18,50}</string>
			<key>textureRect</key>
			<string>{{0,418},{18,50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_60_03_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{18,50}</string>
			<key>spriteSourceSize</key>
			<string>{18,50}</string>
			<key>textureRect</key>
			<string>{{19,418},{18,50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_60_03_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{46,78}</string>
			<key>spriteSourceSize</key>
			<string>{46,78}</string>
			<key>textureRect</key>
			<string>{{0,339},{46,78}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_60_04_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{58,34}</string>
			<key>spriteSourceSize</key>
			<string>{58,34}</string>
			<key>textureRect</key>
			<string>{{0,532},{58,34}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_60_04_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{58,34}</string>
			<key>spriteSourceSize</key>
			<string>{58,34}</string>
			<key>textureRect</key>
			<string>{{59,532},{58,34}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_60_04_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{86,62}</string>
			<key>spriteSourceSize</key>
			<string>{86,62}</string>
			<key>textureRect</key>
			<string>{{0,469},{86,62}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA8888</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>icons/robot_60-uhd.png</string>
		<key>size</key>
		<string>{217,566}</string>
		<key>textureFileName</key>
		<string>icons/robot_60-uhd.png</string>
	</dict>
</dict>
</plist>
