<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>ship_29_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-3,-6}</string>
			<key>spriteSize</key>
			<string>{180,80}</string>
			<key>spriteSourceSize</key>
			<string>{180,80}</string>
			<key>textureRect</key>
			<string>{{0,109},{180,80}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>ship_29_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-3,-6}</string>
			<key>spriteSize</key>
			<string>{180,80}</string>
			<key>spriteSourceSize</key>
			<string>{180,80}</string>
			<key>textureRect</key>
			<string>{{181,109},{180,80}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>ship_29_extra_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-3,-6}</string>
			<key>spriteSize</key>
			<string>{180,80}</string>
			<key>spriteSourceSize</key>
			<string>{180,80}</string>
			<key>textureRect</key>
			<string>{{209,0},{180,80}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>ship_29_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-3,-6}</string>
			<key>spriteSize</key>
			<string>{208,108}</string>
			<key>spriteSourceSize</key>
			<string>{208,108}</string>
			<key>textureRect</key>
			<string>{{0,0},{208,108}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA8888</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>icons/ship_29-uhd.png</string>
		<key>size</key>
		<string>{389,189}</string>
		<key>textureFileName</key>
		<string>icons/ship_29-uhd.png</string>
	</dict>
</dict>
</plist>
