<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>ship_14_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{2,-7}</string>
			<key>spriteSize</key>
			<string>{156,84}</string>
			<key>spriteSourceSize</key>
			<string>{156,84}</string>
			<key>textureRect</key>
			<string>{{0,118},{156,84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>ship_14_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{2,-9}</string>
			<key>spriteSize</key>
			<string>{150,68}</string>
			<key>spriteSourceSize</key>
			<string>{150,68}</string>
			<key>textureRect</key>
			<string>{{158,118},{150,68}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>ship_14_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{2,-7}</string>
			<key>spriteSize</key>
			<string>{188,116}</string>
			<key>spriteSourceSize</key>
			<string>{188,116}</string>
			<key>textureRect</key>
			<string>{{0,0},{188,116}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA8888</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>icons/ship_14-uhd.png</string>
		<key>size</key>
		<string>{308,202}</string>
		<key>textureFileName</key>
		<string>icons/ship_14-uhd.png</string>
	</dict>
</dict>
</plist>
