<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0" msg="Icon Sheet created with Aster's web Icon Creator! ;3 check it out at https://iconcreator.pages.dev">
<dict>
	<key>frames</key>
	<dict>
		<key>ship_30_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-6,-6}</string>
			<key>spriteSize</key>
			<string>{181,84}</string>
			<key>spriteSourceSize</key>
			<string>{181,84}</string>
			<key>textureRect</key>
			<string>{{0,0},{181,84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>ship_30_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-6,-6}</string>
			<key>spriteSize</key>
			<string>{181,84}</string>
			<key>spriteSourceSize</key>
			<string>{181,84}</string>
			<key>textureRect</key>
			<string>{{183,0},{181,84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>ship_30_extra_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-6,-6}</string>
			<key>spriteSize</key>
			<string>{181,84}</string>
			<key>spriteSourceSize</key>
			<string>{181,84}</string>
			<key>textureRect</key>
			<string>{{366,0},{181,84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>ship_30_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-6,-6}</string>
			<key>spriteSize</key>
			<string>{189,92}</string>
			<key>spriteSourceSize</key>
			<string>{189,92}</string>
			<key>textureRect</key>
			<string>{{549,0},{189,92}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA8888</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>icons/ship_30-uhd.png</string>
		<key>textureFileName</key>
		<string>icons/ship_30-uhd.png</string>
		<key>size</key>
		<string>{738,92}</string>
	</dict>
</dict>
</plist>