<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>spider_66_01_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{9,13}</string>
			<key>spriteSize</key>
			<string>{119,112}</string>
			<key>spriteSourceSize</key>
			<string>{119,112}</string>
			<key>textureRect</key>
			<string>{{0,142},{119,112}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_66_01_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{9,13}</string>
			<key>spriteSize</key>
			<string>{119,112}</string>
			<key>spriteSourceSize</key>
			<string>{119,112}</string>
			<key>textureRect</key>
			<string>{{121,142},{119,112}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_66_01_extra_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{21,26}</string>
			<key>spriteSize</key>
			<string>{85,76}</string>
			<key>spriteSourceSize</key>
			<string>{85,76}</string>
			<key>textureRect</key>
			<string>{{149,0},{85,76}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_66_01_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{9,13}</string>
			<key>spriteSize</key>
			<string>{147,140}</string>
			<key>spriteSourceSize</key>
			<string>{147,140}</string>
			<key>textureRect</key>
			<string>{{0,0},{147,140}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_66_02_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{44,62}</string>
			<key>spriteSourceSize</key>
			<string>{44,62}</string>
			<key>textureRect</key>
			<string>{{0,348},{44,62}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_66_02_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{44,62}</string>
			<key>spriteSourceSize</key>
			<string>{44,62}</string>
			<key>textureRect</key>
			<string>{{46,348},{44,62}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_66_02_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{72,90}</string>
			<key>spriteSourceSize</key>
			<string>{72,90}</string>
			<key>textureRect</key>
			<string>{{0,256},{72,90}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_66_03_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{38,74}</string>
			<key>spriteSourceSize</key>
			<string>{38,74}</string>
			<key>textureRect</key>
			<string>{{0,516},{38,74}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_66_03_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{38,74}</string>
			<key>spriteSourceSize</key>
			<string>{38,74}</string>
			<key>textureRect</key>
			<string>{{40,516},{38,74}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_66_03_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{66,102}</string>
			<key>spriteSourceSize</key>
			<string>{66,102}</string>
			<key>textureRect</key>
			<string>{{0,412},{66,102}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_66_04_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{55,34}</string>
			<key>spriteSourceSize</key>
			<string>{55,34}</string>
			<key>textureRect</key>
			<string>{{0,656},{55,34}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_66_04_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{55,34}</string>
			<key>spriteSourceSize</key>
			<string>{55,34}</string>
			<key>textureRect</key>
			<string>{{57,656},{55,34}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spider_66_04_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{83,62}</string>
			<key>spriteSourceSize</key>
			<string>{83,62}</string>
			<key>textureRect</key>
			<string>{{0,592},{83,62}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA8888</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>icons/spider_66-uhd.png</string>
		<key>size</key>
		<string>{240,690}</string>
		<key>textureFileName</key>
		<string>icons/spider_66-uhd.png</string>
	</dict>
</dict>
</plist>
