<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0" msg="Spritesheet created with https://gdcolon.com/gdsplitter">
	<dict>
		<key>frames</key>
		<dict>
			<key>spider_36_01_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{1.5,-4.5}</string>
				<key>spriteSize</key>
				<string>{130,107}</string>
				<key>spriteSourceSize</key>
				<string>{133,116}</string>
				<key>textureRect</key>
				<string>{{0,116},{130,107}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spider_36_01_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{1,-4.5}</string>
				<key>spriteSize</key>
				<string>{123,99}</string>
				<key>spriteSourceSize</key>
				<string>{125,108}</string>
				<key>textureRect</key>
				<string>{{139,0},{123,99}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>spider_36_01_extra_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{35.5,8}</string>
				<key>spriteSize</key>
				<string>{34,34}</string>
				<key>spriteSourceSize</key>
				<string>{113,50}</string>
				<key>textureRect</key>
				<string>{{239,63},{34,34}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spider_36_01_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{1.5,-4.5}</string>
				<key>spriteSize</key>
				<string>{138,115}</string>
				<key>spriteSourceSize</key>
				<string>{141,124}</string>
				<key>textureRect</key>
				<string>{{0,0},{138,115}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spider_36_02_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,1}</string>
				<key>spriteSize</key>
				<string>{42,64}</string>
				<key>spriteSourceSize</key>
				<string>{42,66}</string>
				<key>textureRect</key>
				<string>{{180,198},{42,64}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spider_36_02_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,1}</string>
				<key>spriteSize</key>
				<string>{36,58}</string>
				<key>spriteSourceSize</key>
				<string>{36,60}</string>
				<key>textureRect</key>
				<string>{{131,203},{36,58}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spider_36_02_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0.5}</string>
				<key>spriteSize</key>
				<string>{50,73}</string>
				<key>spriteSourceSize</key>
				<string>{50,74}</string>
				<key>textureRect</key>
				<string>{{180,124},{50,73}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spider_36_03_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-4.5,2}</string>
				<key>spriteSize</key>
				<string>{39,70}</string>
				<key>spriteSourceSize</key>
				<string>{48,74}</string>
				<key>textureRect</key>
				<string>{{0,224},{39,70}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>spider_36_03_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-4.5,3.5}</string>
				<key>spriteSize</key>
				<string>{33,61}</string>
				<key>spriteSourceSize</key>
				<string>{42,68}</string>
				<key>textureRect</key>
				<string>{{223,198},{33,61}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spider_36_03_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-5,2}</string>
				<key>spriteSize</key>
				<string>{48,78}</string>
				<key>spriteSourceSize</key>
				<string>{58,82}</string>
				<key>textureRect</key>
				<string>{{131,124},{48,78}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spider_36_04_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0.5,0}</string>
				<key>spriteSize</key>
				<string>{54,34}</string>
				<key>spriteSourceSize</key>
				<string>{55,34}</string>
				<key>textureRect</key>
				<string>{{71,224},{54,34}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>spider_36_04_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{10,-0.5}</string>
				<key>spriteSize</key>
				<string>{27,29}</string>
				<key>spriteSourceSize</key>
				<string>{47,30}</string>
				<key>textureRect</key>
				<string>{{239,98},{27,29}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>spider_36_04_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0.5,0}</string>
				<key>spriteSize</key>
				<string>{62,42}</string>
				<key>spriteSourceSize</key>
				<string>{63,42}</string>
				<key>textureRect</key>
				<string>{{239,0},{62,42}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>pixelFormat</key>
			<string>RGBA8888</string>
			<key>premultiplyAlpha</key>
			<false/>
			<key>realTextureFileName</key>
			<string>icons/spider_36-uhd.png</string>
			<key>size</key>
			<string>{281,263}</string>
			<key>textureFileName</key>
			<string>icons/spider_36-uhd.png</string>
		</dict>
	</dict>
</plist>